In [1]:
import modelx as mx
import pandas as pd

model = mx.read_model('BasicTerm_ME')

In [2]:
model.Projection.model_point_table

,age_at_entry,sex,policy_term,policy_count,sum_assured,duration_mth
policy_id,,,,,,
1,47,M,10,86,622000,1
2,29,M,20,56,752000,210
3,51,F,10,83,799000,15
4,32,F,20,72,422000,125
5,28,M,15,99,605000,55
...,...,...,...,...,...,...
9996,47,M,20,25,827000,157
9997,30,M,15,81,826000,168
9998,45,F,20,10,783000,146
9999,39,M,20,9,302000,11
10000,22,F,15,18,576000,166

In [4]:
@mx.defcells
def net_cf_annual():
    data = {}
    for m in range(0, max_proj_len(), 12):
        data[int(m/12)] = sum([net_cf(t) for t in range(m, min(m+12, max_proj_len()))])
        
    return pd.DataFrame(data, index=model_point().index)

net_cf_annual()

,0,1,2,3,4,5,6,7,8,9,...,14,15,16,17,18,19,20,21,22,23
policy_id,,,,,,,,,,,,,,,,,,,,,
1,-31593.415327,44256.354597,35539.980346,27481.791877,19479.008263,11280.499947,7388.678363,3335.469715,-895.376879,-4518.739184,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0
2,-5759.096470,-8095.650275,-4620.120114,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0
3,82362.887570,66291.076528,51255.775806,36104.446727,22071.486933,14281.733341,6137.887374,-2395.982167,-6743.639411,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0
4,4394.879459,2997.353964,1554.661346,62.404578,-1484.192854,-3090.322999,-4761.633098,-6504.269203,-8324.924105,-5469.080143,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0
5,11522.464855,8846.022560,7351.796701,5821.013973,4250.339191,2636.152761,974.526276,-738.804411,-2508.468895,-4339.494983,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9996,4210.354746,164.457817,-4089.588583,-8572.554257,-13307.045133,-18317.645162,-21206.816396,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0
9997,-5569.052690,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0
9998,2454.603821,1260.289443,9.377564,-1303.832683,-2685.555450,-4142.562937,-5682.232485,-5842.444939,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0
9999,2089.285652,2091.186884,1770.638594,1476.461348,1177.437763,1031.993184,897.380724,758.958214,616.312454,468.994888,...,-356.303791,-543.526694,-739.884043,-946.262099,-1163.627807,-97.607917,0.0,0.0,0.0,0.0
10000,-644.195630,-114.051868,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0

In [6]:
#net_cf_annual().to_excel('cf100.xlsx')

In [9]:
pvs = model.Projection.pv_net_cf()
pvs

array([397271.91884623,  -9206.66443427,  27977.46459875, ...,
       -24800.30013994,  31350.88443321,  44836.68717837])

In [10]:
pd.DataFrame(pvs).to_excel('pvs.xlsx')

In [11]:
sum(pvs)

2382715874.0253196